.navbar-Container{
    position: fixed;
    z-index: 100;
    width : var(--appWidth);
    height : var(--navHeight);
  }
  .myDropmenu{
    position: absolute;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    padding: 2px;
    background-color: var(--color);
    transition: top 1s ease, opacity 1.5s ease;
  }

  .myDropmenu a ,.myDropmenu button {
    padding: 2px 1vh;
    color : var(--bg);
    background-color: var(--color);
    font-size: medium;
    font-style: normal;
    font-weight: bolder;
    width: fit-content;
  }
  .myDropmenu a:hover{
    color : var(--highlighter);
  }
  .btnUp{
    width: 100%;
    text-align: left;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: large;
  }
  .dropdownLeft{
    top : 0 ; 
    width: var(--appWidth);
    height: 100vh;
  }
  .navbarGhost{
    background-color: transparent;
    z-index: 0;
    width: var(--appWidth);
    height: calc(var(--navHeight) + 2vh);
  }