:root{
  --highlighter : orange;
  --bg : rgb(30, 30, 30) ;
  --color : #ffffff ;
  --appWidth : 100vw;
  --navHeight : 8vh;
}
body{
  background-color: var(--bg);
  color: var(--color);
}

.appContainer{
  position: relative;
  margin : 0;
  height: auto;
  width : var(--appWidth);
}

.flexColumn{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexInline{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="date"]{
  height: auto;
  z-index: 0;
  border: 0px;
  background-color: white !important;
  border-radius: 1.5vw;
  margin-left:3px;
}

.icon {
  background-color: var(--color);
  color: var(--bg);
  line-height: 16px;
  padding: 1vw;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--color) 0%, var(--color) 50%, var(--color) 100%); 
  display: inline-block;
  /* width: 3.5vw; */
  /* height: 3.5vw; */
  width: fit-content;
  block-size: fit-content;
  -webkit-box-shadow: inset 0px -1px 15px 5px rgba(0,0,0,0.58); 
  box-shadow: var(--color) 3px 4px 6px 1px, inset 0px -1px 15px 5px rgba(0,0,0,0.58);
  border: 0px;
  position: relative;
}
.icon img{
  position: absolute;
  border-radius: 50%;
  top : 0 ; 
  left : 0;
  opacity: 0.8;
  width: 3.5vw;
  height: 3.5vw;
}
.icon:hover ,.icon:active{
  border: 2px groove var(--highlighter); 
 }
.noBtn{
  border: 0px solid;
  background-color: transparent;
  color : var(--color);
}
a{
  color: var(--color);
}
a:hover , button:hover ,.noBtn:hover{
  color : var(--highlighter);
  text-decoration: none;
}

.grayLine{
  display: inline-flex;
  box-sizing: border-box;
  height: 2px;
  width: var(--appWidth);
  border-radius: 2vw;
  background-color: rgb(76, 75, 75);
}
.grayLine>div:first-child{
  width: 20%;
  background-color: rgba(255, 255, 255, 0.673);
}

@media screen and (min-width: 786px) {
  :root{
    --appWidth : 786px;
  }  
}
